*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Archivo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  //border: 1px solid red;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  @media (max-width: 991px) {
    font-size: 50%;
  }
  @media (max-width: 500px) {
    font-size: 48%;
  }
}

body {
  &::-webkit-scrollbar {
    width: 5px;
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #242424;
  }
}

button,
a {
  background-color: transparent;
  cursor: pointer;
}

.menu-ativo {
  opacity: 0.5;
}

.effect {
  &:hover {
    transform: scale(1.1);
  }
}
